---
import GitHub from '../icons/GitHub.astro'
import Link from '../icons/Link.astro'

interface Props {
  title: string
  body: string
  repo?: string
  page: string
}

const { title, body, repo, page } = Astro.props
---

<section
  class='flex flex-col border rounded-lg gap-1 border-primary/60 bg-primary/20 p-4'>
  <h2 class='font-medium'>
    {title}
  </h2>
  <p class='text-sm text-gray-200'>
    {body}
  </p>
  <div class='flex gap-3 mt-2'>
    <a
      href={page}
      class='hover:scale-105 outline-none focus:outline-none transition'
      target='_blank'
      aria-label={`${title} page`}>
      <Link class='size-7' />
    </a>
    {
      repo && (
        <a
          href={repo}
          class='hover:scale-105 outline-none focus:outline-none transition'
          target='_blank'
          aria-label={`${title} GitHub`}>
          <GitHub class='size-7' />
        </a>
      )
    }
  </div>
</section>
